.Home {
    width: 100%;
    height: 100vh;
   
  }
  

.wrapComponent {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.table-dark {
  width: 500px !important;
}